@model IEnumerable<SubscriberDto>
@{
    ViewData["Title"] = "Subscribers";
    string message = TempData["Message"]!.ToString()!;
}
<section id="subscribers">
    <div class="container">
        <div class="headers">
            <h1>Admin Dimension</h1>
            <h3>Subscribers</h3>
        </div>

        <nav id="menu-button">
            <a asp-action="Index" asp-controller="Admin" class="btn-theme"><i class="fa-solid fa-arrow-left"></i>Main page</a>
        </nav>

        @if (!string.IsNullOrWhiteSpace(message))
        {
            <div class="error-message">@TempData["Message"]</div>
        }

        <div>
            @if (Model != null)
            {
                @foreach (var sub in Model)
                {
                    <div class="sub-content">
                        <div class="sub">@sub.Email</div>
                        <a asp-controller="Subscribers" asp-action="DeleteSubscriber" asp-route-id="@sub.Id" class="btn-theme">Delete subscriber</a>
                        <a asp-controller="Subscribers" asp-action="SubscriberDetails" asp-route-id="@sub.Id" id="details-btn" class="btn-theme">Details/update</a>
                    </div>
                }
            }
        </div>
    </div>
</section>