<section class="bottom-img">
    <div class="container">
        <div class="info-box">
            <div class="person-img">
                <img src="/images/albert-flores-big-img.png" alt="person" />
            </div>

            <div class="info">
                <h5>Learn from the best</h5>
                <h1>Albert Flores</h1>
                <p>Dolor ipsum amet cursus quisque porta adipiscing. Lorem convallis malesuada sed maecenas. Ac dui at vitae mauris cursus in nullam porta sem. Quis pellentesque elementum ac bibendum. Nunc aliquam in tortor facilisis. Vulputate eget risus, metus phasellus. Pellentesque faucibus amet, eleifend diam quam condimentum convallis ultricies placerat. Duis habitasse placerat amet, odio pellentesque rhoncus, feugiat at. Eget pellentesque tristique felis magna fringilla.</p>

                <div class="buttons">
                    <a href="#"><button class="youtube-btn"><i class="fa-brands fa-youtube"></i>240k subscribers</button></a>
                    <a href="#"><button class="facebook-btn"><i class="fa-brands fa-square-facebook"></i>180k followers</button></a>
                </div>
            </div>

            <img class="line1" src="/images/Pattern line1.png" alt="pattern-line" />
            <img class="line2" src="/images/Pattern line2.png" alt="pattern-line" />
            <img class="line3" src="/images/Pattern line3.png" alt="pattern-line" />
            <img class="line4" src="/images/Pattern line4.png" alt="pattern-line" />
            <img class="line5" src="/images/Pattern line5.png" alt="pattern-line" />
            <img class="line6" src="/images/Pattern line6.png" alt="pattern-line" />
            <img class="line7" src="/images/Pattern line7.png" alt="pattern-line" />
            <img class="line8" src="/images/Pattern line8.png" alt="pattern-line" />
            <img class="line9" src="/images/Pattern line9.png" alt="pattern-line" />
        </div>
    </div>
</section>