@{
    bool isRoot = Context.Request.Path.Value!.Equals("/");
}

<div class="container">
    <a id="logo" asp-action="Index" asp-controller="Home"><img src="\images\IconLight.svg" alt="Icon"></a>
    <div class="btn-mobile"><i class="fa-solid fa-bars-staggered"></i></div>
    <div id="menu">
        <nav>
            <a class="menu-link" asp-page="@(isRoot ? "/#showcase" : "/index")" >Overview</a>
            <a class="menu-link" href="#features">Features</a>
            <a class="menu-link" href="#contact.html">Contact</a>
            <a class="menu-link" href="#courses.html">Courses</a>
        </nav>
    </div>

    <div class="btn-switch">
        <label>Light</label>
        <label class="switch" for="switch-mode">
            <input type="checkbox" id="switch-mode" />
            <span class="slider round"></span>
        </label>
        <label>Dark</label>
    </div>

    <div class="account-buttons">
        <a class="btn-gray" asp-controller="Auth" asp-action="SignIn"><i class="fa-regular fa-right-to-bracket"></i><span>Sign In</span></a>
        <a class="btn-theme" asp-controller="Auth" asp-action="SignUp"><i class="fa-regular fa-user"></i><span>Sign Up</span></a>
    </div>
</div> 