@inject SignInManager<AppUserEntity> _signInManager
@{
    bool isRoot = Context.Request.Path.Value!.Equals("/");
    bool active = _signInManager.IsSignedIn(User);
}

<div class="container">
    <a id="logo" asp-action="Index" asp-controller="Home"><img src="\images\IconLight.svg" alt="Icon"></a>
    <button type="button" class="btn-mobile"><i class="fa-solid fa-bars-staggered"></i></button>
    <div id="menu">
        <nav>
            <a class="menu-link" asp-page="@(isRoot ? "/#showcase" : "/index")">Overview</a>
            <a class="menu-link" href="#features">Features</a>
            <a class="menu-link" >Contact</a>
            <a class="menu-link" asp-action="courses" asp-controller="Courses">Courses</a>

            @if(active && User.IsInRole("Admin"))
            {
                <a class="menu-link" asp-action="Index" asp-controller="Admin">The Admin Dimension</a>
            }

        </nav>
    </div>

    <div class="btn-switch">
        <label>Light</label>
        <label class="switch" for="switch-mode">
            <input type="checkbox" id="switch-mode" />
            <span class="slider round"></span>
        </label>
        <label>Dark</label>
    </div>

    @if (active)
    {
        <div class="account-buttons">
            <a asp-controller="Account" asp-action="Details"><Img class="profile-pic" src="/images/John-doe.svg" /></a>
        </div>
    }
    else
    {
        <div class="account-buttons">
            <a class="btn-gray" asp-controller="Auth" asp-action="SignIn"><i class="fa-regular fa-right-to-bracket"></i><span>Sign In</span></a>
            <a class="btn-theme" asp-controller="Auth" asp-action="SignUp"><i class="fa-regular fa-user"></i><span>Sign Up</span></a>
        </div>
    }

</div>

<div id="mobile-menu" class="invisible">
    @if (active)
    {
        <a class="menu-link" asp-page="@(isRoot ? "/#Features" : "/index")">Overview</a>
        <a class="menu-link" href="#features">Features</a>
        <a class="menu-link" href="#contact.html">Contact</a>
        <a class="menu-link" href="#courses.html">Courses</a>
        <a class="btn-theme" asp-controller="Auth" asp-action="SignOut"><i class="fa-regular fa-right-to-bracket"></i><span>Sign Out</span></a>
        <a asp-controller="Account" asp-action="Details"><Img class="profile-pic" src="/images/John-doe.svg" /></a>
    }
    else
    {
        <a class="menu-link" asp-page="@(isRoot ? "/#Features" : "/index")">Overview</a>
        <a class="menu-link" href="#features">Features</a>
        <a class="menu-link" href="#contact.html">Contact</a>
        <a class="menu-link" href="#courses.html">Courses</a>
        <a class="btn-theme" asp-controller="Auth" asp-action="SignIn"><i class="fa-regular fa-right-to-bracket"></i><span>Sign In</span></a>
        <a class="btn-theme" asp-controller="Auth" asp-action="SignUp"><i class="fa-regular fa-user"></i><span>Sign Up</span></a>
    }

</div>

@await Html.PartialAsync("_mobilePartial")