<section id="showcase">
    <div class="container">
        <div class="content">
            <div class="showcase-title">
                <h1>Task Management Assistant You Gonna Love</h1>
                <p>
                    We offer you a new generation of task management system. Plan, manage & track all your tasks
                    in
                    one flexible tool.
                </p>
                <a class="btn-theme-s" href="#"><span>Get started for free</span></a>
            </div>
            <div class="logos">
                <p class="h6">Largest companies use our tool to work efficiently</p>
                <img src="images\logoipsum.svg" />
                <img src="images\logoipsum2.svg" />
                <img src="images\logoipsum3.svg" />
                <img src="images\logoipsum4.svg" />
            </div>
        </div>
        <img class="showcase-image" src="images\showcaseImage.svg" alt="Task master image" />
    </div>
</section>

