<section class="not-found">
    <div class="container">
        <img src="/images/404.png" alt="">

        <h1>Ooops!</h1>
        <p>The page you are looking for is not available.</p>
        <a asp-action="Index" asp-controller="Home">
            <button class="btn-theme-s">
                <i class="fa-regular fa-house"></i> Go to
                homepage
            </button>
        </a>
    </div>
</section>