@{
    var themeMode = Context.Request.Cookies["ThemeMode"] ?? "light";
    var isDark = (themeMode == "dark") ? true : false;
}

<section class="not-found">
    <div class="container">
        @if(isDark)
        {
            <img src="/images/dark-404.png" />
        }
        else
        {
            <img src="/images/404.png" alt="">
        }

        <h1>Ooops!</h1>
        <p>The page you are looking for is not available.</p>
        <a asp-action="Index" asp-controller="Home">
            <button class="btn-theme-s">
                <i class="fa-regular fa-house"></i> Go to
                homepage
            </button>
        </a>
    </div>
</section>