@model HomeIndexViewModel

<section id="showcase" >
    @await Html.PartialAsync("~/Views/Shared/Partials/HomePartials/_ShowcasePartial.cshtml", Model.Showcase)
</section>

<section id="features">
    @await Html.PartialAsync("~/Views/Shared/Partials/HomePartials/_FeaturesPartial.cshtml", Model.Features)
</section>

<section id="dark-light">
    @await Html.PartialAsync("~/Views/Shared/Partials/HomePartials/_DarkLightPartial.cshtml")
</section>

<section id="manage-your-work">
    @await Html.PartialAsync("~/Views/Shared/Partials/HomePartials/_MangeYourWorkPartial.cshtml")
</section>

<section id="download-Our-App">
    @await Html.PartialAsync("~/Views/Shared/Partials/HomePartials/_DownloadOurAppPartial.cshtml")
</section>

<section id="top-work-tools">
    @await Html.PartialAsync("~/Views/Shared/Partials/HomePartials/_TopWorkToolsPartial.cshtml")
</section>

<section id="subscribe">
    @await Html.PartialAsync("~/Views/Shared/Partials/HomePartials/_SubscribePartail.cshtml", Model.SubscribeModel)
</section>
