@model AccountAddressFormModel
<div class="adress">
    <div class="address-form-group">

        <form method="post" novalidate asp-controller="Account" asp-action="AddressInfo">

            <div id="form-addressline_1" class="input-group">
                <label asp-for="Addressline_1"></label>
                <span asp-validation-for="Addressline_1"></span>
                <input asp-for="Addressline_1" />
            </div>

            <div id="form-addressline_2" class="input-group">
                <label asp-for="Addressline_2">Address line 2 <span>(optional)</span></label>
                <span asp-validation-for="Addressline_2"></span>
                <input asp-for="Addressline_2" />
            </div>

            <div class="postal-city">

                <div id="form-postalcode" class="input-group">
                    <label asp-for="PostalCode"></label>
                    <span asp-validation-for="PostalCode"></span>
                    <input asp-for="PostalCode" />
                </div>

                <div id="form-city" class="input-group">
                    <label asp-for="City"></label>
                    <span asp-validation-for="City"></span>
                    <input asp-for="City" />
                </div>

            </div>

            <div class="buttons">
                <button type="button" class="btn-gray">Cancel</button>
                <button type="submit" class="btn-theme">Save changes</button>
            </div>

        </form>
    </div>
</div>
