#subscriber-details {
    margin-top: 40px;
    background-color: $gray-200;
    height: 100%;

    .container {
        padding-top: 40px;

        .headers {
            text-align: center;
            margin-bottom: 4rem;
        }

        .sub-details {
        }
    }
}
