#subscribers {
    margin-top: 40px;
    background-color: var(--color-gray-200);
    height: 100%;

    .container {
        padding-top: 40px;

        .headers {
            text-align: center;
            margin-bottom: 4rem;
        }

        #menu-button {
            display: flex;
            justify-content: center;
            margin-bottom: 5rem;

            a {
                background-color: #8a5ddb;
                @include theme-shadow;
            }
        }

        .error-message {
            color: white;
            font-size: 20px;
            margin-bottom: 20px;
            width: 100%;
            text-align: center;
            background-color: indianred;
            border-radius: 10px;
            padding: 10px 0px;
        }

        .sub-content {
            padding: 5px 20px;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            gap: 50px;
            border-radius: 5px;
            background-color: var(--color-gray-400);
            @include theme-shadow;

            .sub {
                width: 50%;
                @include standard-text;
                font-weight: 700;
            }

            a {
                background-color: var(--color-danger);
            }

            #details-btn {
                background-color: var(--color-theme);
            }

            &:hover {
                transform: scale(1.002);
            }
        }
    }
}
