@model SavedCoursesViewModel
@{
}

<section class="saved-courses">
    <div class="container">

        @await Html.PartialAsync("~/Views/Shared/Partials/AccountPartials/_ProfileMenuPartial.cshtml", Model.ProfileMenuModel)

        <div class="courses">

            <div class="title-delete">
                <h2>Saved items</h2>
                <button><i class="fa-regular fa-trash"></i>Delete all</button>
            </div>

            @await Html.PartialAsync("~/Views/Shared/Partials/_CourseCardPartial.cshtml", Model.CourseCard)

        </div>
    </div>

</section>