@model AccountDetailsViewModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="account-details">
    <div class="container">

        @await Html.PartialAsync("~/Views/Shared/Partials/AccountPartials/_ProfileMenuPartial.cshtml", Model.ProfileMenuModel)

        @await Html.PartialAsync("~/Views/Shared/Partials/AccountPartials/_BasicInfoFormPartial.cshtml", Model.BasicInfo)

        <div class="address">
            <h5>Address</h5>
            <div class="adress">

                @await Html.PartialAsync("~/Views/Shared/Partials/AccountPartials/_AddressInfoFormPartial.cshtml", Model.AddressInfo)

            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_ValidationScriptPartial")