@model SecurityViewModel
@{
    ViewData["Title"] = "Security";
}

<div class="security">
    <div class="container">

            @await Html.PartialAsync("~/Views/Shared/Partials/AccountPartials/_ProfileMenuPartial.cshtml", Model.ProfileMenuModel)
    
        <div>
            <div class="security-form">
                <h2>Security</h2>
                <form method="post" novalidate asp-controller="Account" asp-action="ChangePassword">
                    <h5>Password</h5>

                    <div class="error-msg">@Model.ChangePasswordErrorMessage</div>

                    <div id="form-password" class="input-group">
                        <label asp-for="Form.Password"></label>
                        <span asp-validation-for="Form.Password"></span>
                        <input asp-for="Form.Password" />
                    </div>

                    <div id="form-newPassword" class="input-group">
                        <label asp-for="Form.NewPassword"></label>
                        <span asp-validation-for="Form.NewPassword"></span>
                        <input asp-for="Form.NewPassword" />
                    </div>

                    <div id="form-confirmPassword" class="input-group">
                        <label asp-for="Form.ConfirmPassword"></label>
                        <span asp-validation-for="Form.ConfirmPassword"></span>
                        <input asp-for="Form.ConfirmPassword" />
                    </div>

                    <div class="buttons">
                        <button class="btn-gray">Cancel</button>
                        <button class="btn-theme">Change password</button>
                    </div>
                    <hr />
                </form>
            </div>
            <div class="delete-account">
                <h5>Delete account</h5>
                <p>
                    When you delete your account, your public profile will be deactivated immediately. If you
                    change
                    your mind before the 14 days are up, sign in with your email and password, and we’ll send
                    you a
                    link to reactivate your account.
                </p>

                <form novalidate asp-controller="Account" asp-action="DeleteAccount">

                    <div class="error-msg">@Model.DeleteAccountErrorMessage</div>

                    <div id="form-delete" class="checkbox-group">
                        <div class="checkbox">
                            <input asp-for="DeleteForm.Delete" />
                            <label asp-for="DeleteForm.Delete"></label>
                        </div>
                        <span asp-validation-for="DeleteForm.Delete"></span>
                    </div>
                    <button class="btn-theme">Delete</button>
                </form>
              
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_ValidationScriptPartial")