@model SignInViewModel
@{
    ViewData["Title"] = "Sign in";
}

<section class="create-account">
    <div class="container">
        <div class="content">
            <h1>Welcome back</h1>
            <p>Don't have an account yet? <a asp- asp-controller="Auth" asp-action="SignUp">Sign up here.</a></p>

            <div class="error-msg">@Model.ErrorMessage</div>

            <form method="post" novalidate asp-controller="Auth" asp-action="SignIn" asp-route-ReturnUrl="@Model.ReturnUrl">

                <div id="form-email" class="input-group">
                    <label asp-for="Email"></label>
                    <span asp-validation-for="Email"></span>
                    <input asp-for="Email" />
                </div>

                <div id="form-password" class="input-group">
                    <label asp-for="Password"></label>
                    <span asp-validation-for="Password"></span>
                    <input asp-for="Password" />
                </div>

                <div id="form-remeber" class="checkbox-group">
                    <input asp-for="Remember" />
                    <label asp-for="Remember"></label>
                </div>

                <button type="submit" class="btn-theme">Sign in</button>

            </form>

            <div id="forgot"><a asp-controller="Account" asp-action="Forgot">Forgot your password?</a></div>

            <hr />

            <div class="networks">
                <label>Or sign in with your social network</label>
                <div class="buttons">
                    <a asp-action="Google" asp-controller="Auth"><button type="submit" class="btn-gray"><i class="fa-brands fa-google"></i>Google</button></a>
                    <a asp-action="Facebook" asp-controller="Auth"><button type="submit" class="btn-gray"><i class="fa-brands fa-facebook-f"></i>Facebook</button></a>
                </div>
            </div>

        </div>
    </div>
</section>

@await Html.PartialAsync("_ValidationScriptPartial")