#category {
    margin-top: 60px;

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
        align-items: center;
        position: relative;
        margin-top: 10rem;

        form {
            max-width: 80%;
        }

        .alert-success {
            padding: 5px 20px;
            border-radius: 7px;
            color: black;
            font-weight: 600;
            position: absolute;
            top: -50px;
        }

        .alert-danger {
            padding: 5px 20px;
            border-radius: 7px;
            color: black;
            font-weight: 600;
            position: absolute;
            top: -50px;
            background-color: var(--color-danger);
        }

        .select-container {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 20px;
            position: relative;

            .category-alert-success {
                padding: 5px 20px;
                border-radius: 7px;
                color: black;
                font-weight: 600;
                position: absolute;
                top: -50px;
                background-color: var(--color-success);
            }

            .category-alert-error {
                padding: 5px 20px;
                border-radius: 7px;
                color: black;
                font-weight: 600;
                position: absolute;
                top: -50px;
                background-color: var(--color-danger);
                width:230px;
            }

            select {
                padding: 11px 10px;
                border-radius: 7px;
                font-weight: 500;
                border-color: var(--color-gray-400);
                background-color: var(--color-background);
                color: var(--color-gray-999);

                option {
                    font-weight: 500;
                }
            }
        }

        .deleteBtn {
            background-color: var(--color-danger);
        }
    }
}
