#category {
    margin-top: 60px;

    .container {

        form {
            max-width: 80%;
        }

        display: flex;
        flex-wrap: wrap;
        gap: 100px;
        align-items: center;


        .select-container {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 20px;

            select {
                padding: 11px 10px;
                border-radius: 7px;
                font-weight: 500;
                border-color: var(--color-gray-400);
                background-color: var(--color-background);
                color: var(--color-gray-999);

                option {
                    font-weight: 500;
                }
            }
        }

        .deleteBtn {
            background-color: var(--color-danger);
        }
    }
}
