.container {
    margin-top: 40px;

    .headers {
        text-align: center;
        margin-bottom: 4rem;
    }

    .nav-buttons {
        margin-top: 70px;
        width: 100%;

        a {
            @include theme-shadow;
            margin-bottom: 30px;
            width: 100%;
        }
    }
}
