.create-account {
    height: 100%;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .content {
            max-width: 540px;
            max-height: 730px;
            height: 100%;
            width: 100%;

            p {
                margin-bottom: 25px;
            }

            form {

                .name {
                    max-width: 540px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 20px;
                }

                .error {
                    color: $danger;
                }

                .input-group {

                    input {
                        padding: 10px 15px;
                        border: 1px solid $gray-400;
                        border-radius: 7px !important;
                        overflow: hidden;
                        outline: none;
                        width: 100%;
                        margin-bottom: 20px;
                    }

                    label {
                        font-weight: 600;
                        font-size: 16px;
                        color: $gray-900;
                        margin-bottom: 5px;
                    }
                }

                button {
                    width: 100%;
                    @include theme-shadow;
                    margin: 20px 0;
                }


                .checkbox-group {

                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
        }
    }
}
