.courses-menu {

    .container {

        p {
            margin-top: 3.5rem;

            .fa-house {
                margin-right: 10px;
            }

            .fa-angles-right {
                margin-left: 10px;
            }

            a {
                color: blue;
                margin-left: 10px;
            }
        }

        .header-nav {
            margin-top: 2rem;
            display: flex;
            flex-direction:column;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;


            @include md {
                flex-direction: row;
            }


            form {
                display: flex;
                flex-direction: column;
                gap: 15px;

                @include md {
                    flex-direction: row;
                }

                .dropdown {
                    border: 2px solid var(--color-gray-400);
                    border-radius: 7px !important;
                    background-color: var(--color-background);
                    color: var(--color-gray-900);
                    padding: 10px 15px;
                    width: 100%;
                    min-width: 330px;
                    height: 48px;

                    .selected {
                        color: var(--color-gray-500);
                    }

                    .select-options {
                        display: none;
                    }
                }

                .input-group {
                    position: relative;
                    min-width: 330px;


                    i {
                        position: absolute;
                        right: 15px;
                        top: 16px;
                    }

                    input {
                        border: 2px solid var(--color-gray-400);

                        &::placeholder {
                            color: var(--color-gray-500);
                        }
                    }
                }
            }
        }
    }

    margin-bottom: 3rem;
}
