<div class="dark-light">
    <div class="darkbox">
        <h1 id="dark-h1">Switch between</h1>
    </div>
    <div class="lightbox">
        <h1 id="light-h1">Light & Darkmode</h1>
    </div>
    <div class="computer">
        <img id="laptop" src="/images/laptop.svg" alt="image of a laptop" />
    </div>
    <div class="slider"><i class="fa-solid fa-left-right"></i></div>
</div>
