@{
}

<div class="download-our-app">
    <div class="container">

        <img class="mobile-pic" src="images\phone.svg" alt="picture of a phone" />

        <div class="download">
            <h1>Download our app for any devices:</h1>

            <div class="appstore">
                <div class="ratings">
                    <p id="app">App store</p>
                    <Img src="images\stars.svg" alt="rating stars" />
                    <h4>Editor's choice</h4>
                    <P>rating 4.7,187k + reviews</P>
                </div>
                <img class="logo" src="images\appstore.svg" alt="appstore logo" />
            </div>

            <div class="googleplay">
                <div class="ratings">
                    <p id="google">Google play</p>
                    <Img src="images\stars.svg" alt="rating stars" />
                    <h4>App of the day</h4>
                    <P>rating 4.8,30k + reviews</P>
                </div>
                <img class="logo" src="images\googleplay.svg" alt="google play logo" />
            </div>
        </div>
    </div>

</div>