@{
}

<div class="subscribe">
    <div class="container">

        <div class="head-arrow">
            <h1>Dont't want to miss anything?</h1>
            <img id="curly-arrow" src="images\curlyarrow.svg" />
        </div>

        <form class="mail-window">
            <div class="checkboxes">
                <h5>Sign up for newsletters</h5>
                <div>
                    <div>
                        <input id="daily" type="checkbox" />
                        <label for="daily">Daily newsletter</label>
                    </div>
                    <div>
                        <input id="advertising" type="checkbox" />
                        <label for="advertising">Advertising updates</label>
                    </div>
                </div>
                <div>
                    <div>
                        <input id="week" type="checkbox" />
                        <label for="week">Week in review</label>
                    </div>
                    <div>
                        <input id="event" type="checkbox" />
                        <label for="event">Event updates</label>
                    </div>
                </div>

                <div>
                    <div>
                        <input id="startups" type="checkbox" />
                        <label for="startups">Startups weekly</label>
                    </div>
                    <div>
                        <input id="podcasts" type="checkbox" />
                        <label for="podcasts">Podcasts</label>
                    </div>
                </div>
            </div>

            <div class="input-button">
                <input id="text-box" type="text" placeholder="Your email@hotmail.com" />
                <button id="button" class="btn-theme" type="submit">Subscribe*</button>
            </div>

            <p class="terms">
                * Yes, I agree to the <span><a href="#">terms</a></span> and <span>
                    <a href="#">privacy policy</a>
                </span>
            </p>
            <div class="envelope"></div>

        </form>
    </div>
</div>