header {
    padding: 15px 0;

    .container {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo mobile";
        gap: 40px;

        @include md {
            grid-template-columns: auto 1fr auto;
            grid-template-areas: "logo menu mobile";
        }

        @include xl {
            grid-template-columns: auto 1fr auto;
            grid-template-areas: "logo menu  buttons";
        }

        @include xl {
            grid-template-areas: "logo menu switch buttons";
        }

        #logo {
            grid-area: logo;
        }

        #menu {
            grid-area: menu;
            display: none;

            @include md {
                display: block;
            }

            nav {
                display: flex;
                gap: 15px;
            }
        }

        .btn-switch {
            grid-area: switch;
            display: none;

            @include xxl {
                display: block;
                margin-right: 40px;
            }
        }

        .account-buttons {
            grid-area: buttons;
            display: none;
            gap: 15px;

            @include xl {
                display: flex;
            }
        }

        .btn-mobile {
            grid-area: mobile;
            display: block;
            font-size: 30px;

            @include xl {
                display: none;
            }
        }
    }
}
