header {
    padding: 15px 0;

    .container {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo mobile";
        gap: 40px;

        @include md {
            grid-template-columns: 1fr auto auto;
            grid-template-areas: "logo switch mobile";
        }

        @include xl {
            grid-template-columns: auto 1fr auto;
            grid-template-areas: "logo menu switch buttons";
        }

        #logo {
            grid-area: logo;
        }

        #menu {
            grid-area: menu;
            display: none;

            @include xl {
                display: block;
            }

            nav {
                display: flex;
                gap: 15px;
            }
        }

        .btn-switch {
            grid-area: switch;
            display: none;

            @include md {
                display: block;
                margin-right: 40px;
            }
        }

        .account-buttons {
            grid-area: buttons;
            gap: 15px;
            display: none;

            @include xl {
                display: flex;
                justify-content:center;
                align-items:center;  
            }
        }

        .profile-pic{
            width:50px;
        }

        .btn-mobile {
            grid-area: mobile;
            display: block;
            font-size: 30px;
            border: none;
            background-color: transparent;

            @include xl {
                display: none;
            }
        }
    }

    .invisible {
        display: none;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: $gray-200;
        padding: 40px;
        margin-top: 20px;
    }
}
