@model CourseDetailsViewModel

@if (TempData["ErrorMessage"]?.ToString() == "error")
{
    <div class="error-msg">Course not found, check api services</div>
}
else
{
    @await Html.PartialAsync("~/Views/Shared/Partials/CoursesPartials/_HeroPartial.cshtml", Model.Course)

    @await Html.PartialAsync("~/Views/Shared/Partials/CoursesPartials/_CourseDescriptionPartial.cshtml", Model.Course)

    @await Html.PartialAsync("~/Views/Shared/Partials/CoursesPartials/_CourseProgramDetailsPartial.cshtml", Model.ProgramBox.ProgramBoxes)

    @await Html.PartialAsync("~/Views/Shared/Partials/CoursesPartials/_CourseDetailsBottomPartial.cshtml")
}
