.download-our-app {
    background-color: var(--color-gray-featureboxes);

    .container {
        padding: 40px 0px;
        background-color: var(--color-gray-featureboxhover);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;


        @include lg {
            gap: 1rem;
        }

        @include xl {
            gap: 5rem;
        }
    }

    .mobile-pic {
        display: none;

        @include lg {
            display: block;
        }
    }

    .download {
        max-width: 400px;

        @include md {
            margin-top: 3rem;
        }

        .appstore {
            margin-bottom: 50px;

            #app {
                color: var(--color-gray-600);
            }

            @media(min-width:500px) {
                display: flex;
                gap: 2.8rem;
            }

            @include md {
                display: flex;
                gap: 2.8rem;
                margin-bottom: 2rem;

                .logo {
                    margin-top: 50px;
                }
            }
        }

        .googleplay {
            margin: bottom 5px;

            #google {
                color: var(--color-gray-600);
            }

            @media(min-width:500px) {
                display: flex;
                gap: 2.8rem;
            }

            @include md {
                display: flex;
                gap: 2.8rem;

                .logo {
                    margin-top: 50px;
                }
            }
        }
    }

    margin-bottom: 2rem;
}
