.features {
    background-color: var(--color-gray-100);
    padding-top: 100px;
    padding-bottom: 180px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .section-title {
            text-align: center;
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .boxes {
        .box-content {
            padding: 40px 0px;
            text-align: center;
            border: 1px var(--color-gray-300) solid;
            margin-bottom: 5px;
        }

        :hover {
            background-color: var(--color-gray-000);
            border-radius: 0.3rem;
        }

        @include md {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .box-content {
                border: 1px var(--color-gray-300) solid;
                margin-bottom: 0;
            }
        }

        @include lg {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            .box-content {
                padding: 50px 30px;
                text-align: center;
                border: none;
            }

            .middlebox {
                border: none;
                border-left: 1px var(--color-gray-300) solid;
                border-right: 1px var(--color-gray-300) solid;
            }

            .bottom {
                border-top: 1px var(--color-gray-300) solid;
            }

            .bottom-middlebox {
                border: 1px var(--color-gray-300) solid;
                border-bottom: none;
            }
        }
    }
}
