.subscribe {
    background-color: var(--color-gray-featureboxes);
    padding: 50px 0px;

    .container {
        @include xl {
            padding-left: 180px;
            padding-right: 180px;
        }

        .head-arrow {
            display: flex;
            margin-bottom: 30px;
        }

        .error-message {
            color: white;
            font-size: 20px;
            margin-bottom: 20px;
            width: 100%;
            text-align: center;
            background-color: var(--color-danger);
            border-radius: 10px;
            padding: 10px 0px;
        }

        .susccess-message {
            color: white;
            font-size: 20px;
            margin-bottom: 20px;
            width: 100%;
            text-align: center;
            background-color: #90d6a5;
            border-radius: 10px;
            padding: 10px 0px;
        }

        .mail-window {

            .checkboxes {
                display: grid;
                grid-template-columns: 1fr;
                margin-bottom: 10px;

                @media(min-width:400px) {
                    grid-template-columns: 1fr;
                }

                @include md {
                    grid-template-columns: 1fr 1fr 1fr;
                }

                @include md {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }


                h5 {
                    margin-bottom: 25px;

                    @include lg {
                        width: 120px;
                    }
                }

                div {
                    margin-bottom: 15px;
                }
            }

            .input-button {
                position: relative;

                .input-group {

                    input {
                        margin-top: 14px;
                        margin-bottom: 15px;
                        padding: 10px 40px;
                        border: 1px solid var(--color-gray-400);
                        border-radius: 7px !important;
                        overflow: hidden;
                        outline: none;
                        width: 100%;
                        background-color: var(--color-gray-featureboxhover);
                        color: var(--color-gray-900);

                        &::placeholder {
                            color: var(--color-gray-600);
                        }

                        &.input-validation-error {
                            color: var(--color-danger);
                            border: 0.5px solid var(--color-danger) !important;

                            &::placeholder {
                                color: var(--color-danger);
                                opacity: 0.4;
                            }
                        }
                    }

                    span {

                        &.field-validation-error {
                            color: var(--color-danger);
                            opacity: 0.6;
                            position: absolute;
                            top: -30px;
                            left: 0;
                        }
                    }
                }

                i {
                    position: absolute;
                    top: 28px;
                    left: 15px;
                    font-weight: 20px;
                    font-size: 20px;
                    color: var(--color-gray-500);
                }

                #button {
                    width: 100%;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }

                @include lg {
                    display: flex;
                    justify-content: center;
                    gap: 20px;

                    #button {
                        width: 20%;
                        height: 48px;
                        margin-bottom: 0px;
                    }
                }
            }

            .terms {
                margin-bottom: 40px;

                a {
                    text-decoration: underline;
                    color: var(--color-theme);
                }

                @include lg {
                    margin-top: 0px;
                }
            }
        }
    }
}
